body{
    margin: 0;
}
ul{
    list-style: none;
}


.bars{
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    padding: 10px 5%;
}

.navbar h1{
    color: white;
    margin: 0;
}

.list{
    display: flex;
}

.list li a{
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.navbar input{
    border-radius: 10px;
    outline: none;
    padding: 7px;
}
.banner{
    background: url(https://images.assettype.com/fortuneindia%2F2020-06%2Fef53f9be-f257-4aa3-9af5-6ca1a9f33a86%2Fclose_up_photography_of_leaves_with_droplets_807598.jpg?rect=0,607,4128,2322&w=1250&q=60) center / cover;
    width: 100%;
    height: 88.5vh;
    margin-top: -47px;
}

.banner h1{
    color: white;
    text-align: center;
    font-size: 70px;
    padding-top: 15%;
    text-shadow: 0 0 20px white;
}
@media screen  and (max-width:703px) {
    .navbar input{
        display: none;
    }.list{
        display: none;
    }.bars{
        display: block;
        color: white;
    }.banner{
        height: 50vh;
    }
}

@media screen and (max-width:400px) {
    .banner{
        height: 35vh;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.card img{
    width: 400px;
    height: 300px;
}

@media screen  and (max-width:774px) {
    .card img{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width:400px){
    .card img{
        width: 150px;
        height: 130px;
    }
}

.form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    margin: 0 41%;
    padding: 40px;
    margin-top: 50px;
}

.form input{
    padding: 10px;
    display: block;
    margin-top: 10px;
    outline: none;
}

.form button{
    margin-top: 10px;
    padding: 8px 77px ;
    background-color: green;
    border: none;
}

@media screen  and (max-width:1226px){
    .form{
        border: none;
    }
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin-top: 20px;
    padding: 0 5%;
    flex-wrap: wrap;
}

.footer a{
    color: white;
}